<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <div class="column col-lg-9">
                <a class="navbar-brand" href=""><img
                        src="https://vitalwebconsultants.com.au/wp-content/uploads/2020/12/Video-Calling-Yellow.png"
                        alt="" height="40vh" width="40vh"></a>
                <button class="navbar-toggler" type="button" style="background-color: #fff;" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="column col-lg-3 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: white; font-weight: 700;">SignOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>